:root {
  /* Color Palette */
  --obsidian: #001524;
  --moss: #445D48;
  --sand: #D6CC99;
  --white: #FDE5D4;
  --shadow: #00000080;

  --light-moss: #445d48e6;
  --light-obsidian: #00152480;

  --active-moss: #445d48cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  /* --- body --- */
  color: var(--white);
  background-color: var(--obsidian);
}

header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 76.95px;
  background-color: var(--moss);
  box-shadow: 0px 2px 16px var(--shadow);
  align-items: center;
  padding: 12px 32px;
  z-index: 100;
}

footer {
  height: 100px;
  background-color: var(--moss);
  box-shadow: 0px -2px 16px hsla(0, 0%, 0%, 0.5);
  z-index: 99;
  width: auto;
  margin-top: auto;
}