/*
Color Palette
#001524
#445D48
#D6CC99
#FDE5D4
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: fit-content;
  width: fit-content;
}

body {
  display: grid;
  grid-template-rows: 96.95px 1fr 25vh;
  grid-template-columns: 214.488px 1306.31px;
  color: #FDE5D4;
  background-color: #001524;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 76.95px;
  background-color: #445D48;
  box-shadow: 0px 2px 16px hsla(0, 0%, 0%, 0.5);
  align-items: center;
  padding: 12px 32px;
  z-index: 100;
}

#sidebar {
  position: fixed;
  width: 182.488px;
  height: 100%;
  top: 96.95px;
  background-color: #001524;
  box-shadow: 2px 0px 16px hsla(0, 0%, 0%, 0.5);
  padding: 20px 16px;
  z-index: 99;
}

main {
  padding: 32px 0px;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 264px);
  justify-items: center;
  width: 100%;
}

footer {
  grid-row: 3/4;
  grid-column: 1/3;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #445D48;
  box-shadow: 0px -2px 16px hsla(0, 0%, 0%, 0.5);
  z-index: 100;
}

.projects {
  height: 100%;
  width: 100%;
  background-color: #D6CC99;
  border-radius: 24px;
  height: 264px;
  width: 264px;
  align-self: center;
}