body {
  display: flex;
  flex-direction: column;
}

#sidebar {
  position: fixed;
  width: 182.488px;
  height: 100vh;
  top: 76.95px;
  left: 0;
  background-color: var(--obsidian);
  box-shadow: 2px 0px 16px var(--shadow);
  padding: 20px 16px;
  z-index: 99;
}

#sidebar > hr {
  margin: 6px 0;
}

main {
  position: relative; 
  margin-left: 182.488px;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 40px 20px;
  width: auto; 
  max-width: 100%;
}

.projects {
  width: 100%; 
  max-width: 264px;
  height: 264px;
  background-color: var(--white);
  border-radius: 24px;
  justify-self: center;
  transition: all 0.2s ease;
  position: relative;
}

.projects > a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: end;
  justify-content: center;
}

.projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -6px; 
  z-index: -1; 
}

.projects:hover{
  transform: translateY(-6px);
  box-shadow: 0px 8px 16px var(--shadow);
}

.projects:active {
  transform: translateY(0px);
  box-shadow: none;
}

.projects a p {
  text-align: center;
  width: 100%;
  padding: 12px 0px;
  color: var(--obsidian);
  background-color: var(--sand);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  font-weight: bold;
}

/* Tablet/Mobile Screen */
@media screen and (max-width: 830px){
  header > h1 {
    font-size: 1.5em;
  } 

  #sidebar {
    transform: translateX(-100%);
    display: none;
    width: 0;
    padding: 0;
  }
  
  main {
    margin-left: 0; 
    padding-left: 16px;
    padding-right: 16px;
  }
}