body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#menu {
  background-color: var(--sand);
  margin-top: 16vh;
  width: 80vw;
  min-height: 64vh;
  max-width: 45vw;
  border: 4px solid var(--moss);
  border-radius: 48px;
  justify-self: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#menu > p {
  color: var(--obsidian);
  padding: 10px;
  font-weight: 700;
  font-size: 1.5em;
}

.menu-buttons {
  border: none;
  border-radius: 8px;
  width: 32%;
  padding: 10px;
  margin: 8px 0px;
  font-weight: 700;
  font-size: 1em;
  color: var(--white);
  background-color: var(--moss);
  cursor: pointer;
}

.menu-buttons:hover {
  background-color: var(--light-moss);
}

.menu-buttons:active {
  background-color:var(--active-moss);
}

/* ========== choices ========== */
#transparent-background {
  /* display: block; */
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  align-content: center;
}

#choices-modal {
  display: none;
  position: relative;
  flex-direction: column;
  min-width: 45vw;
  max-width: 75vw;
  min-height: 50%;
  max-height: fit-content;
  justify-self: center;
  align-content: center;
  background-color: var(--white);
  /* border: 2px solid var(--moss); */
  border-radius: 24px;
  padding: 20px;
}

#choices-modal > p {
  color: var(--obsidian);
  font-size: 1.25em;
  padding-right: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 32px;
  cursor: pointer;
  color: var(--light-obsidian);
  transition: color 0.15s;
  z-index: 50;

  line-height: 20px;
}

.close-btn:hover {
  color: var(--obsidian);
}

#choices-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* border: 2px solid black; */
  padding: 10px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
}

.choices {
  min-height: 124px;
  border-radius: 12px;
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 2px 2px 5px var(--shadow);
  cursor: pointer;
  transition: all 0.1s ease;
}

.choices:hover{
  opacity: 1;
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px var(--shadow);
}

.choices:active {
  transform: translateY(0px);
  box-shadow: 2px 2px 5px var(--shadow);
}

/* ========== name input ========== */
#input-div {
  display: none;
  justify-self: center;
  position: relative;
  padding: 24px;
  border-radius: 24px;

  color: var(--obsidian);
  background-color: var(--white);
}

#name-textbox {
  font-size: 1em;
  padding: 4px;
}

#confirm-name-btn {
  padding: 8px;
  border: none;
  border-radius: 8px;
  
  font-size: 1em;
  font-weight: 700;
  color: var(--white);
  background-color: var(--moss);

  cursor: pointer;
  transition: background-color 0.1s ease;
}

#confirm-name-btn:hover {
  background-color: var(--light-moss);
}

/* ========== game ========== */
#game-container {
  justify-self: center;
  display: none;
  flex-direction: column;
  height: 64vh;
  width: 48vw;
}

#game-screen {
  position: relative;
  display: grid;
  justify-content: center;
  height: 90%;
  background-color: var(--white);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

#game-btns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--moss);
  gap: 10%;
  row-gap: 10px;
  padding: 12px 24px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

/* game buttons */
.game-buttons {
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s ease;
}

#game-play-btn {
  background-color: #2fda2f;
}

#game-feed-btn {
  background-color: #ff4400;
}

#game-sleep-btn {
  background-color: #000080;
}

#game-play-btn:hover {
  background-color: #20b620;
}

#game-feed-btn:hover {
  background-color: #cc3600;
}

#game-sleep-btn:hover {
  background-color: #00004d;
}

#game-play-btn:active {
  background-color: hsl(120, 70%, 37%);
}

#game-feed-btn:active {
  background-color: hsl(16, 100%, 35%);
}

#game-sleep-btn:active {
  background-color: hsl(240, 100%, 10%);
}

/* stats */
#stats-container {
  background-color: var(--moss);
  min-width: fit-content;
  width: 25%;
  padding: 16px;
  position: absolute;
  justify-items: left;
  top: 0;
  left: 0;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}

.pokemon-stats-p {
  width: fit-content;
  color: var(--white);
}

#game-pokemon {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 830px) {
  #menu {
    min-width: 80vw;
  }

  #game-container {
    width: 80vw;
  }

  #game-btns-container {
    padding: 8px;
  }
}