body {
  display: flex;
  flex-direction: column;
  user-select: none;
  height: 100vh;
}

#menu {
  background-color: var(--sand);
  margin-top: 16vh;
  width: 80vw;
  min-height: 64vh;
  max-width: 45vw;
  border: 4px solid var(--moss);
  border-radius: 48px;
  justify-self: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#menu > p {
  color: var(--obsidian);
  padding: 10px;
  font-weight: 700;
  font-size: 1.5em;
}

.menu-buttons {
  border: none;
  border-radius: 8px;
  width: 32%;
  padding: 10px;
  margin: 8px 0px;
  font-weight: 700;
  font-size: 1em;
  color: var(--white);
  background-color: var(--moss);
  cursor: pointer;
}

.menu-buttons:hover {
  background-color: var(--light-moss);
}

.menu-buttons:active {
  background-color:var(--active-moss);
}

/* ========== choices ========== */
#transparent-background {
  /* display: block; */
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  align-content: center;
}

#choices-modal {
  display: none;
  position: relative;
  flex-direction: column;
  min-width: 45vw;
  max-width: 50vw;
  min-height: 50%;
  max-height: fit-content;
  justify-self: center;
  align-content: center;
  background-color: var(--white);
  /* border: 2px solid var(--moss); */
  border-radius: 24px;
  padding: 20px;
}

#choices-modal > p {
  color: var(--obsidian);
  font-size: 1.25em;
  padding-right: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 32px;
  cursor: pointer;
  color: var(--light-obsidian);
  transition: color 0.15s;
  z-index: 50;

  line-height: 20px;
}

.close-btn:hover {
  color: var(--obsidian);
}

#game-screen > .close-btn {
  color: var(--sand);
}
#game-screen > .close-btn:hover {
  color: var(--light-obsidian);
}

#choices-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* border: 2px solid black; */
  padding: 10px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
}

.choices {
  min-height: 124px;
  border-radius: 12px;
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 2px 2px 5px var(--shadow);
  cursor: pointer;
  transition: all 0.1s ease;
}

.choices:hover{
  opacity: 1;
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px var(--shadow);
}

.choices:active {
  transform: translateY(0px);
  box-shadow: 2px 2px 5px var(--shadow);
}

#search-container {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 5%
}

#search {
  color: var(--obsidian);
  background-color: #fff;
  border: 1px solid #808080;
  
  border-radius: 128px 0 0 128px; 
  
  border-right: none; 
  
  font-size: 1.25em;
  padding: 4px 8px;
  
  flex: 1; 
}

#search:focus {
  outline: none;
  border: 1.6px solid var(--active-moss);
  border-right: none;
}

#search-button {
  padding: 8px;
  border: 1px solid #808080;
  background-color: #f0f0f0;
  
  border-radius: 0 128px 128px 0; 
  
  width: 45px;
  height: 33px;
  
  cursor: pointer;
  font-size: 1.2em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-button:hover {
  background-color: #e0e0e0;
}

/* ========== name input ========== */
#input-div {
  display: none;
  justify-self: center;
  position: relative;
  padding: 24px;
  border-radius: 24px;

  color: var(--obsidian);
  background-color: var(--white);
}

#name-textbox {
  font-size: 1em;
  padding: 4px;
}

#confirm-name-btn {
  padding: 8px;
  border: none;
  border-radius: 8px;
  
  font-size: 1em;
  font-weight: 700;
  color: var(--white);
  background-color: var(--moss);

  cursor: pointer;
  transition: background-color 0.1s ease;
}

#confirm-name-btn:hover {
  background-color: var(--light-moss);
}

/* ========== game ========== */
#game-container {
  justify-self: center;
  display: none;
  flex-direction: column;
  height: 64vh;
  width: 48vw;
}

#game-screen {
  position: relative;
  display: flex;
  justify-content: center;
  height: 90%;
  background-color: var(--white);
  /* background-image: radial-gradient(cyan, blue); */
  /* background-image: url('./assets/grass-tile.png'); */
  /* background-position: center center; */
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

#game-pokemon {
  align-self: center;
  justify-self: center;
  height: 20vh;
  position: absolute;
  bottom: 25%;
  z-index: 1;
}

/* jump animaiton */
.jump {
  animation: jump 0.5s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-48px);
  }
  100% {
    transform: translateY(0);
  }
}

#pokemon-name {
  font-size: 0.75em;
  color: #fff;
  background-color: #000000b3;
  width: fit-content;
  text-align: center;
  align-self: center;
  padding: 2px 4px;
  border-radius: 4px;
  position: absolute;
  bottom: 29%;
  z-index: 2;
}

#grass-tile {
  position: absolute;
  z-index: 0;
  bottom: 15%;
}

#on-screen-score {
  font-size: 0.75em;
  color: #fff;
  background-color: #000000b3;
  padding: 2px 4px;
  border-top-left-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
}

/* older
  #on-screen-log {
  color: var(--white);
  background-color: var(--moss);
  position: absolute;
  top: 2px;
  left: -33%;
  z-index: 5;
  width: 32%;
  height: fit-content;
  border-radius: 16px;
  padding: 16px;
} */

#on-screen-log {
  opacity: 0;
  bottom: 4px;
  right: 4px;
  align-self: flex-end;
  justify-self: center;
  height: fit-content;
  width: fit-content;
  background-color: #000000b3;
  color: #fff;
  padding: 16px;
  border-radius: 16px;
  z-index: 5;
}

/* log fade in and out */
.fade-message {
    animation: fadeIn-fadeOut 3s ease-in-out forwards;
}

@keyframes fadeIn-fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#on-screen-log hr {margin: 4px 0px;}

/* game buttons */
#game-btns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--moss);
  gap: 10%;
  row-gap: 10px;
  padding: 12px 24px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  /* border-top-left-radius: 16px; */
}

.game-buttons {
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s ease;
}

#game-play-btn {
  background-color: #2fda2f;
}

#game-feed-btn {
  background-color: #ff4400;
}

#game-sleep-btn {
  background-color: #000080;
}

#game-play-btn:hover {
  background-color: #20b620;
}

#game-feed-btn:hover {
  background-color: #cc3600;
}

#game-sleep-btn:hover {
  background-color: #00004d;
}

#game-play-btn:active {
  background-color: hsl(120, 70%, 37%);
}

#game-feed-btn:active {
  background-color: hsl(16, 100%, 35%);
}

#game-sleep-btn:active {
  background-color: hsl(240, 100%, 10%);
}

.buttons-cooldown {
  pointer-events: none;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

/* stats */
#stats-container {
  background-color: var(--moss);
  min-width: fit-content;
  width: 25%;
  padding: 16px;
  position: absolute;
  justify-items: left;
  top: 0;
  left: 0;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}

.pokemon-stats-p {
  width: fit-content;
  color: var(--white);
}

/* @media (min-width: 831px) {
  keeps on screen log on screen
  #on-screen-log {
      opacity: 1;
      transition: none;
  }

  .fade-message {
      animation: none;
  }
} */

#lose-screen {
  display: none;
  position: relative;
  width: 50%;
  height: 33.33%;
  justify-self: center;
  align-content: center;
  padding: 16px;
  border-radius: 16px;
  color: var(--moss);
  background-color: var(--white);
  border: 4px solid var(--moss);
  text-align: center;
}

#lose-screen > #lose-screen-message {
  font-size: 1.5em;
}

#lose-screen > #lose-screen-score {
  font-size: 1em;
}

/* ========== tutorial ========== */
#tutorial-container {
  position: relative;
  display: none;
  text-align: justify;
  color: var(--moss);
  background-color: var(--white);
  width: 90%;
  padding: 24px;
  border-radius: 12px;
  border: 4px solid var(--moss);
  justify-self: center;
}

#tutorial-container > h1 { font-size: 1em; }
#tutorial-container > hr {margin: 4px 0px;}

#tutorial-container > ul li {
  list-style-type: none;
  width: 95%;
  justify-self: center;
}

@media screen and (max-width: 830px) {
  #menu {
    min-width: 80vw;
  }

  #choices-modal {
    max-width: 75vw;
  }

  #search-container {
    width: 100%;
  }

  #search {
    width: 50%;
  }

  #game-container {
    width: 80vw;
  }

  #game-pokemon {
    bottom: 28%;
  }

  #pokemon-name {
    bottom: 32%;
  }

  #game-btns-container {
    padding: 8px;
  }

  #on-screen-log {
      opacity: 0;
  }

  #lose-screen > #lose-screen-message {
    font-size: 1em;
  }

  #lose-screen > #lose-screen-score {
    font-size: 0.95em;
  }

  #tutorial-container {
    height: 64%;
    overflow-y: auto;
  }
}